html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bi-whatsapp {
  color: green;
  font-size: 2rem;
}

.bi-instagram {
  color: rgb(165, 1, 97);
  font-size: 2rem;
}

.bi-youtube {
  color: red;
  font-size: 2rem;
}

.bi {
  margin-left: 20px;
}

.redes-sociais {
  display: flex;
  margin-left: 50%;
  margin-right: 50%;
}