html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bi-whatsapp {
  color: green;
  font-size: 2rem;
}

.bi-instagram {
  color: rgb(165, 1, 97);
  font-size: 2rem;
}

.bi-youtube {
  color: red;
  font-size: 2rem;
}

.bi {
  margin-left: 20px;
}

.redes-sociais {
  display: flex;
  margin-left: 50%;
  margin-right: 50%;
}

.max-width {
  max-width: 930px;
}

section{
  padding: 50px 0;
}
@media(max-width: 690px){
  section{
    padding: 20px 0;
  }
}
.banner {
  color:white;
  display: flex;
  background: url("../public/images/img01.jpeg");
  height: 400px;
  width: 100vw;
  background-size: cover;
}

.text-banner {
  font-size: 3rem;
  margin-left: 30px;
  text-align: center;
}
